body {
    width: 500px;
    margin: 20px auto;
}

input[type="text"],
input[type="submit"],
input[type="email"],
textarea {
    width: 100%;
    margin: 12px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #333;
}

input[type="submit"] {
    background-color: lightgreen;
}

.form-row {
    margin: 10px 0;
}

.required {
    color: red;
}
