[class*="container"] {
    border:1px solid #333;
    min-height: 300px;
    width: 600px;
    margin: 20px;
    
    display: grid;
}

/* Grid area */
.container3 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto; /* default value */

    /* 
    Some rules that are required for grid-areas to work:
    1. All rows need to have equal amount of values
    2. Must manage all children inside of container, when using grid-areas
    3. Need declare grid-area in every child, so that it is effected by grid-template-areas
    4. May only create sections with 4 corners, meaning squares and rectangles
    */
    grid-template-areas: 
        "header header header sidebar"
        "content content content sidebar"
        "footer footer footer sidebar"
    ;

    gap: 10px;
    padding: 10px;

}

header {
    grid-area: header;
    background-color: tomato;
    padding-top: 0%;
    margin-top: 0%;
}

img {
    float:right;
    padding-top: 0%;
    margin-top: 0%;
    border-radius: 25px;
}
main {
    grid-area: content;
    background-color: wheat;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
aside {
    grid-area: sidebar;
    background-color: lightcyan;
}
footer {
    grid-area: footer;
    background-color: skyblue;
}